<nav class="navbar navbar-expand-sm bg-dark bg-gradient navbar-dark">
    <ul class="nav nav-pills">
         <li class="nav-item">
            <a routerLink = "students" routerLinkActive="active" class="nav-link" style="margin-left: 16px;">Students List</a>
         </li>
         <li class="nav-item">
            <a routerLink = "create-student" routerLinkActive="active" class="nav-link" style="margin-left: 16px;">Add Student</a>
         </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>